.font-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.font-md {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.font-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.font-3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
}

.font-4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
}

.font-5 {
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
}

.font-6 {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
}

.font-7 {
  font-weight: 500;
  font-size: 60px;
  line-height: 76px;
}

.bg-color-gray {
  background-color: #f3f3f3;
}

.text-color-gray {
  color: #f3f3f3;
}

.bg-color-light-green {
  background-color: #b9ff66;
}

.text-color-light-green {
  color: #b9ff66;
}

.bg-color-black {
  background-color: black;
}

.text-color-black {
  color: black;
}

.bg-color-white {
  background-color: white;
}

.text-color-white {
  color: white;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* my styles */
html {
  font-family: "Space Grotesk", sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

a {
  font-style: none;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: inherit;
  font-family: inherit;
}

.header {
  margin-block: 3rem;
  padding-block: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 860px) {
  .header {
    padding-inline: 8rem;
    align-items: center;
    justify-content: space-around;
  }
}
.header__nav {
  display: flex;
}
.header__nav-close {
  display: none;
}
@media (max-width: 1200px) {
  .header__nav-close {
    display: block;
  }
}
.header__nav-open {
  display: none;
}
@media (max-width: 1200px) {
  .header__nav-open {
    display: unset;
  }
}
.header__right {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}
@media (max-width: 860px) {
  .header__right {
    margin-right: 0;
  }
  .header__right button {
    display: none;
  }
  .header__right i {
    font-size: 2rem;
  }
}
.header__nav-links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 1200px) {
  .header__nav-links {
    position: fixed;
    width: 100%;
    padding-inline: 4rem;
    max-width: 220px;
    background-color: rgba(185, 255, 102, 0.8);
    top: 0;
    right: -380px;
    height: 100vh;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 6rem;
    padding-top: 8rem;
    transition: 0.3s all ease;
    z-index: 100;
  }
}
.header .active {
  right: 0;
}

.companies {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
@media (max-width: 1200px) {
  .companies {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    justify-items: center;
  }
}
@media (max-width: 860px) {
  .companies {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media (max-width: 720px) {
  .companies {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
.companies img {
  height: 48px;
  filter: grayscale(90%);
  transition: 0.3s all ease;
}
.companies img:hover {
  filter: grayscale(0%);
}

.hero {
  margin-block: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .hero {
    flex-direction: column;
    gap: 6rem;
  }
}
.hero__left {
  text-align: left;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  justify-content: center;
}
@media (max-width: 1200px) {
  .hero__left {
    text-align: center;
    gap: 2rem;
    align-items: center;
    max-width: 600px;
  }
}
.hero__left button {
  margin-top: 3rem;
  width: 250px;
}

.img {
  max-width: 600px;
}
@media (max-width: 860px) {
  .img {
    width: 300px;
  }
}

.services {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 8rem;
}
.services__header {
  margin-block: 4rem 3rem;
  max-width: 850px;
  display: flex;
  gap: 5rem;
  align-items: center;
}
@media (max-width: 720px) {
  .services__header {
    flex-direction: column;
  }
}
.services__cards {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}
@media (max-width: 1200px) {
  .services__cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 860px) {
  .services__cards {
    gap: 3rem;
  }
}
.services__card {
  transition: 0.3s all ease;
  border: 1px solid black;
  border-bottom: 10px solid #000;
  border-radius: 4rem;
  display: flex;
  padding: 6rem;
  justify-content: space-between;
  align-items: center;
}
.services__card:hover {
  transform: translateY(-20px);
}
@media (max-width: 720px) {
  .services__card {
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-inline: 2rem;
  }
}
@media (max-width: 860px) {
  .services__card {
    padding-inline: 2rem;
    margin-inline: 8rem;
  }
}
@media (max-width: 500px) {
  .services__card {
    padding-inline: 1rem;
    margin-inline: 1rem;
  }
}
.services__card-right {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 720px) {
  .services__card-right {
    align-items: center;
    gap: 2rem;
    height: 150px;
  }
  .services__card-right h3 {
    text-align: center;
  }
}
.services__card-right p {
  align-items: center;
  display: flex;
  gap: 2rem;
}
@media (max-width: 720px) {
  .services__card-right p {
    align-items: center;
  }
}

.proposal {
  margin-block: 8rem;
  margin-inline: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
}
.proposal__left {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .proposal__left {
    text-align: center;
    align-items: center;
    gap: 3rem;
  }
}
.proposal__left button {
  width: 400px;
}
@media (max-width: 860px) {
  .proposal__left button {
    max-width: 400px;
    width: auto;
  }
}
.proposal__left button:hover {
  background-color: #f3f3f3;
}
.proposal img {
  margin-top: -50px;
  margin-bottom: -50px;
}
@media (max-width: 1200px) {
  .proposal img {
    display: none;
  }
}

.button__standart {
  padding: 2rem;
  border: 1px solid #000000;
  border-radius: 14px;
  transition: 0.5s all ease;
  display: inline;
  width: 200px;
}
.button__standart--white:hover {
  background-color: black;
  color: white;
}
.button__standart--black {
  background-color: black;
  color: white;
}
.button__standart--black:hover {
  color: black;
  background-color: white;
}

.container {
  max-width: 1220px;
  margin-inline: auto;
  padding: 2rem;
}
@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 860px) {
  .container {
    max-width: 600px;
  }
}

.colored-text {
  background-color: #b9ff66;
  color: black;
  padding: 0.1rem 0.6rem;
  border-radius: 1rem;
}

.colored-text-2 {
  background-color: white;
  color: black;
  padding: 0.1rem 0.6rem;
  border-radius: 1rem;
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */