@use "../abstracts/variables";

.accordion {
  &__cards {
    gap: 3rem;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
  }
  &__card {
    background-color: variables.$light-green;
    border-radius: 3rem;
    border: 1px solid black;
    border-bottom: 5px solid black;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }
    &-description {
      display: none;
      border-top: 1px solid black;
      padding-top: 3rem;
      transition: 1s all ease;
      &.open {
        display: unset;
      }
    }
  }
}
