@use "../abstracts/breakpoints";

.case-studies {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include breakpoints.md {
    gap: 2rem;
  }
  &__cards {
    display: flex;
    align-items: center;
    padding: 4rem;
    border-radius: 4rem;
    overflow-x: auto;
    @include breakpoints.md {
      background-color: unset;
      padding: 0;
      border-radius: unset;
    }
  }
  &__card {
    padding: 4rem;
    display: flex;
    align-items: right;
    flex-direction: column;
    gap: 2rem;
    & + & {
      border-left: 1px solid white;
      @include breakpoints.md {
        border-left: none;
      }
    }
    @include breakpoints.md {
      min-width: 300px;
      background-color: black;
      margin: 2rem;
      border-radius: 2rem;
    }
    @include breakpoints.sm {
      max-width: 200px;
    }
    p {
      color: white;
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}
