@use "../abstracts/variables" as *;

.contact {
  &__radio {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
  }
  &__form {
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      right: -350px;
      top: 100px;

      @media (max-width: 1200px) {
        display: none;
      }
    }
    button {
      background-color: black;
      color: white;
      padding-inline: 4rem;
      padding-block: 2rem;
      max-width: 540px;
      width: 100%;
      border-radius: 1rem;
      font-size: 1.5rem;
      margin-top: 1rem;
    }
    label {
      margin-block: 1rem;
      margin-right: 2rem;
      font-size: 1.6rem;
    }
    margin-block: 6rem;
    padding-inline: 12rem;
    padding-block: 8rem;
    background-color: $gray;
    border-radius: 4rem;

    @media (max-width: 1200px) {
      padding-inline: 4rem;
    }

    input[type="radio"] {
      background-color: #fff;
      margin-right: 1rem;
      font: inherit;
      color: currentColor;
      width: 2rem;
      height: 2rem;
      border: 0.15em solid currentColor;
      border-radius: 50%;
    }
    input[type="text"] {
      margin-block: 2rem;
      padding: 2rem;
      border-radius: 1.5rem;

      max-width: 500px;
      width: 80%;
      font-family: inherit;
    }
    textarea {
      display: block;
      margin-block: 2rem;
      padding: 2rem;
      border-radius: 1.5rem;
      width: 80%;
      max-width: 500px;
      font-family: inherit;
    }
    #message {
      height: 200px;
    }
  }
}
