@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.sticky {
  padding-block: 0;
  position: sticky;
  top: 0;
  background-color: rgba(variables.$light-green, 0.8);
  z-index: 100;
  .header {
    padding-block: 0;
  }
}
// .hide {
//   transform: translateY(-100%);
// }

.header {
  &__container {
    padding-block: 2rem;
    transition: all ease 0.2s;
  }
  max-width: 1200px;
  margin-inline: auto;

  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.3s;

  @include breakpoints.md {
    padding-inline: 8rem;
    align-items: center;

    justify-content: space-around;
  }

  &__nav {
    display: flex;
  }
  &__nav-close {
    display: none;
    @include breakpoints.lg {
      display: block;
    }
  }

  &__nav-open {
    display: none;
  }
  @include breakpoints.lg {
    &__nav-open {
      display: unset;
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    @include breakpoints.breakpoint(860px) {
      margin-right: 0;
      button {
        display: none;
      }

      i {
        font-size: 2rem;
      }
    }
  }
  &__nav-links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    @include breakpoints.lg {
      position: fixed;
      width: 100%;
      padding-inline: 4rem;
      max-width: 220px;
      background-color: rgba(variables.$light-green, 0.8);
      top: 0;
      right: -380px;
      height: 100vh;
      flex-direction: column;
      justify-content: unset;
      align-items: center;
      gap: 6rem;
      padding-top: 8rem;
      transition: 0.3s all ease;
      // transform: translateX(380px);
      z-index: 100;
    }
  }
  .active {
    // transform: translate(0px);
    right: 0;
  }
}
.companies {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  @include breakpoints.lg {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    justify-items: center;
  }
  @include breakpoints.md {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  @include breakpoints.sm {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  img {
    height: 48px;
    filter: grayscale(90%);
    transition: 0.3s all ease;
    &:hover {
      filter: grayscale(0%);
    }
  }
}
