@use "../abstracts/variables" as var;
@use "../abstracts/breakpoints";

.proposal {
  margin-block: 8rem;
  margin-inline: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  &__left {
    @include breakpoints.lg {
      text-align: center;
      align-items: center;
      gap: 3rem;
    }
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      width: 400px;
      @include breakpoints.md {
        max-width: 400px;
        width: auto;
      }
      &:hover {
        background-color: var.$gray;
      }
    }
  }
  img {
    margin-top: -50px;
    margin-bottom: -50px;
    @include breakpoints.lg {
      display: none;
    }
  }
}
