@use "../abstracts/variables";
@use "../abstracts/breakpoints";

.services {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 8rem;

  &__cards {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;

    @include breakpoints.lg {
      grid-template-columns: 1fr;
    }
    @include breakpoints.md {
      gap: 3rem;
    }
  }
  &__card {
    transition: 0.3s all ease;
    &:hover {
      transform: translateY(-20px);
    }
    border: 1px solid black;
    border-bottom: 10px solid #000;
    border-radius: 4rem;
    display: flex;
    padding: 6rem;
    @include breakpoints.sm {
      padding: 3rem;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      margin-inline: 2rem;
    }
    @include breakpoints.md {
      padding-inline: 2rem;
      margin-inline: 8rem;
    }
    @include breakpoints.breakpoint(500px) {
      padding-inline: 1rem;
      margin-inline: 1rem;
    }
    justify-content: space-between;
    align-items: center;
    &-right {
      height: 200px;
      display: flex;
      @include breakpoints.sm {
        align-items: center;
        gap: 2rem;
        height: 150px;
        h3 {
          text-align: center;
        }
      }

      flex-direction: column;
      justify-content: space-between;
      p {
        @include breakpoints.sm {
          align-items: center;
        }
        align-items: center;
        display: flex;
        gap: 2rem;
      }
    }
  }
}
