@use "../abstracts/breakpoints";
.team {
  display: flex;
  flex-direction: column;
}

.cards__team {
  margin-block: 8rem 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.card__team {
  display: flex;
  flex-direction: column;
  max-width: 298px;
  border: 1px black solid;
  border-bottom: 10px solid black;
  border-radius: 4rem;
  padding: 4rem;
  margin-inline: auto;

  hr {
    width: 100%;
    border: 0.5px solid black;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  p {
    line-height: 1.5;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      height: 100%;

      h4 {
        font-weight: 500;
      }

      img {
        width: 30px;
        align-self: self-end;
        margin-bottom: 4rem;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.team__button {
  background-color: black;
  padding-inline: 8rem;
  border-radius: 1rem;
  padding-block: 2rem;
  color: white;
  font-size: 1.7rem;
  width: max-content;
  align-self: flex-end;
  @media (max-width: 900px) {
    align-self: center;
  }
}
