@use "./variables";

$color-list: ("gray", variables.$gray), ("light-green", variables.$light-green),
  ("black", variables.$primary-color), ("white", white);

@each $no, $value in $color-list {
  .bg-color-#{$no} {
    background-color: $value;
  }
  .text-color-#{$no} {
    color: $value;
  }
}
