$font-list: (1, 400, 16px, 20px), (md, 400, 18px, 24px), (2, 400, 20px, 25px),
  (3, 500, 25px, 32px), (4, 500, 30px, 41px), (5, 500, 40px, 56px),
  (6, 500, 50px, 66px), (7, 500, 60px, 76px);

@each $no, $weight, $size, $line-height in $font-list {
  .font-#{$no} {
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
  }
}
