@forward "./buttons";
@use "../abstracts/variables";

@use "../abstracts/breakpoints";

.container {
  max-width: 1220px;
  margin-inline: auto;
  padding: 2rem;
  @include breakpoints.lg {
    max-width: 900px;
  }
  @include breakpoints.md {
    max-width: 600px;
  }
}

.colored-text {
  background-color: variables.$light-green;
  color: black;
  padding: 0.1rem 0.6rem;
  border-radius: 1rem;
}

.colored-text-2 {
  background-color: white;
  color: black;
  padding: 0.1rem 0.6rem;
  border-radius: 1rem;
}

.section__header {
  margin-block: 4rem 3rem;
  max-width: 850px;
  display: flex;
  gap: 5rem;
  h2 {
    min-width: max-content;
  }
  align-items: center;
  @include breakpoints.sm {
    flex-direction: column;
  }
}
